#map {
  height: 900px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  margin: 0;
  padding: 0;
}

#pac-input {
  margin-top: 10px;
  width: 250px;
}

#type-selector {
 color: black;
 background-color:white;
 padding: 5px 11px 0px 11px;
 margin-top: 10px;
 margin-right: 10px;
}

#type-selector label {
 font-family: Roboto;
 font-size: 13px;
 font-weight: 300;
 margin-right: 10px;
}
